<nav class="nav-bar-wrapper">
  <a class="nav-bar__link" href="#" class="brand-logo center">Logo</a>

  <ul class="nav-bar__list">
    <li class="nav-bar__list__item">{{#link-to 'description' class='nav-bar__link'}}Home{{/link-to}}</li>
    <li class="nav-bar__list__item">{{#link-to 'repos' class='nav-bar__link'}}Repos{{/link-to}}</li>
    <li class="nav-bar__list__item">{{#link-to 'about' class='nav-bar__link'}}About{{/link-to}}</li>
  </ul>
</nav>