<div class="repos-item-wrapper">
  {{#each model as |repo|}}
    <div class="repos-item__repo">
        <div class="repos-item__title">
          <a class="repos-item__link" target="_blank" href="https://github.com/{{repo.repoLink}}">{{repo.title}}</a>
        </div>

      <div class="repos-item__description">
        {{repo.description}}
      </div>

      <div class="repos-item__authors">
          <span class="repos-item__authors__prefix">With</span> {{repo.authors}}
        </div>
    </div>
  {{/each}}
</div>
