/* Apply a CSS3 transition
 *
 * $property The property you want to animate, eg all
 * $duration The duration of the animation, eg .4s
 * $time The Transition Function that specifies a transition effect
 * with a slow start and end, eg ease-in-out
 *
 * @include transition(opacity, 0.5s);
 * or
 * @include transition($property: background, $time: .7s);
 *
 * Result:
 * transition: opacity 0.5s ease-in-out;
 *
 * transition: background .7s ease-in-out;
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

html *,
html *:before,
html *:after {
  box-sizing: border-box; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

html {
  font-size: 10px; }

body {
  background: linear-gradient(180deg, #f1f1f1 0%, rgba(231, 83, 46, 0.2) 100%);
  color: #000000;
  font-family: "Oxygen", sans-serif;
  font-size: 1.5rem;
  overflow-y: hidden; }

h1, h2, h3 {
  font-weight: 700;
  margin: 1.5rem 0; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

p {
  line-height: 170%;
  margin: 2.5rem 0; }

.content {
  max-width: 1024px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  overflow-y: auto;
  padding: 3rem 3%; }
  .content .highlight {
    color: #e7532e; }

.nav-bar-wrapper {
  background-color: #e7532e;
  display: flex;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(128, 128, 128, 0.4);
  padding: 0 1rem; }
.nav-bar__link {
  position: relative;
  color: #000000;
  display: inline-block;
  padding: 1rem;
  transition: all 0.4s ease-in-out; }
  .nav-bar__link::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .3rem;
    background-color: #ffffff;
    content: '';
    transform: translateY(100%);
    transition: all 0.2s ease-in-out; }
  .nav-bar__link:hover, .nav-bar__link:active {
    color: #ffffff;
    text-decoration: none; }
    .nav-bar__link:hover::before, .nav-bar__link:active::before {
      transform: translateY(0); }
  .nav-bar__link:focus {
    color: #cccccc;
    outline: none; }
.nav-bar__list {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  padding-right: 1rem; }
  .nav-bar__list__item {
    overflow: hidden; }

.repos-item-wrapper {
  display: flex;
  flex-wrap: wrap; }
.repos-item__repo {
  background-color: transparent;
  border-top: 1px solid #e1e4e8;
  border-bottom: 1px solid #e1e4e8;
  display: flex;
  flex-direction: column;
  flex-basis: 31%;
  margin: 10px;
  padding: 10px 15px;
  transition: all 0.4s ease-in-out; }
  .repos-item__repo:hover {
    background-color: #e1e4e8;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080; }
.repos-item__link {
  color: #0366d6;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none; }
  .repos-item__link:hover {
    text-decoration: underline; }
.repos-item__description {
  flex: 1;
  color: #586069;
  margin-top: 1rem; }
.repos-item__authors {
  color: #586069;
  font-size: 80%;
  margin-top: 0.5rem; }
  .repos-item__authors__prefix {
    font-size: 60%; }

.about__image {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center; }
  .about__image-wrapper {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 1rem; }

/*# sourceMappingURL=app.css.map */
