.nav-bar {
  &-wrapper {
    background-color: $prime-color;
    display: flex;
    align-items: center;
    box-shadow: 0 .5rem 1rem rgba($grey, .4);
    padding: 0 1rem;
  }

  &__link {
    position: relative;

    color: $black;
    display: inline-block;
    padding: 1rem;

    @include transition();

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: .3rem;

      background-color: $white;
      content: '';
      transform: translateY(100%);

      @include transition($time: .2s);
    }

    &:hover,
    &:active {
      color: $white;
      text-decoration: none;

      &::before {
        transform: translateY(0);
      }
    }

    &:focus {
      color: darken($white, 20%);
      outline: none;
    }
  }

  &__list {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    padding-right: 1rem;

    &__item {
      overflow: hidden;
    }
  }
}
