.repos-item {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__repo {
    $border: 1px solid $grey-lighter;

    background-color: transparent;
    border-top: $border;
    border-bottom: $border;
    display: flex;
    flex-direction: column;
    flex-basis: 31%;
    margin: 10px;
    padding: 10px 15px;
    transition: all 0.4s ease-in-out;

    &:hover {
      $border: 1px solid $grey;

      background-color: $grey-lighter;
      border-top: $border;
      border-bottom: $border;
    }
  }

  &__link {
    color: $blue;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__description {
    flex: 1;
    color: $grey-dark;
    margin-top: 1rem;
  }

  &__authors {
    color: $grey-dark;
    font-size: 80%;
    margin-top: 0.5rem;

    &__prefix {
      font-size: 60%;
    }
  }
}
