html {
  font-size: $base-font-size;
}

body {
  background: linear-gradient(
      180deg,
      $grey-light 0%,
      rgba($prime-color, .2) 100%
  );
  color: $black;
  font-family: $base-font-family;
  font-size: 1.5rem;
  overflow-y: hidden;
}

h1, h2, h3 {
  font-weight: 700;
  margin: 1.5rem 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  line-height: 170%;
  margin: 2.5rem 0;
}

.content {
  max-width: 1024px;
  height: 100vh;

  margin-right: auto;
  margin-left: auto;
  overflow-y: auto;
  padding: 3rem 3%;

  .highlight {
    color: $prime-color;
  }
}
