/* Apply a CSS3 transition
 *
 * $property The property you want to animate, eg all
 * $duration The duration of the animation, eg .4s
 * $time The Transition Function that specifies a transition effect
 * with a slow start and end, eg ease-in-out
 *
 * @include transition(opacity, 0.5s);
 * or
 * @include transition($property: background, $time: .7s);
 *
 * Result:
 * transition: opacity 0.5s ease-in-out;
 *
 * transition: background .7s ease-in-out;
 */

@mixin transition($property: all, $time: .4s, $timing: ease-in-out) {
  transition: $property $time $timing;
}
