// Color's
$prime-color: #e7532e;

$black: #000000;
$white: #ffffff;

$grey-lighter: #e1e4e8;
$grey-light: #f1f1f1;
$grey: #808080;
$grey-dark: #586069;

$blue: #0366d6;


// Fonts
$base-font-size: 10px;
$base-font-family: 'Oxygen', sans-serif;
