.about {

  &__image {
    $measurements: 100%;

    width: $measurements;
    height: $measurements;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    &-wrapper {
      $measurements: 200px;

      width: $measurements;
      height: $measurements;

      float: left;
      margin-right: 1rem;
    }
  }
}
