{{outlet}}

<div class="content about">
  <div class="about__title">
    <h3>Short information <span class="highlight">about</span> me.</h3>
  </div>

  <div class="about__description">
    <div class="about__image-wrapper">
      <img class="about__image" src="assets/images/user-avatar.png">
    </div>

    <p>
      My name is Valdemar.<br/>
      Before talking about my WEB career, I’d like to say a few words about my considerable
      experience in the printing/polygraphy industry.
    </p>
    <p>
      I started working early, being in the first year of the institute. I worked as a printer
      worker, engineer Reprographics, designer for 5 years in the three publishing houses.
      Then I moved to Kiev and began working as a shop manager. I felt the potential in web
      technologies and therefore I tried my forces in e-store site development. As my first web
      product, I created the basic concept and design of the future site. So, I started familiarity
      with HTML and CSS. I created the site for two months and I loved the web industry. I
      began an intensive study of it, expanding my knowledge. I also had a lot of practice: I
      created websites for my friends, and they, in their turn, started recommending me to
      their friends. As a result, there have appeared more serious customers. As my
      professional level gets higher, the quality of my work becomes better, thus, the
      producing time significantly lowers. By that time I had already used the following
      technologies: HTML, CSS, JavaScript.
    </p>
    <p>
      Soon I got a job in the printing-house &quot;Wolf&quot; as a webmaster. Using my experience with
      the design of web-based products, I learned how to make them more convenient for
      users, using the already known rules of good GUI and testing my own observations and
      feedback from users. I started using many frameworks, like Joomla, Wordpress, MODX,
      Symphony, Magento, and etc.
    </p>
    <p>
      Last 3 years I'm getting part in rather big enterprise project and companies: PeopleSmart, IdentitySmart,
      DePalma Studio and Playtech, Co.
      Occupying a Front-End Developer position I learned and got experience with such technologies as Angular 1.6,
      Angular 2.0 Alpha, TypeScript, React, Scss, Less, PostCss.
    </p>
    <p>
      I'm love what I'm doing and for sure - want to make things better.
    </p>
  </div>
</div>
