{{outlet}}

<div class="content description">
  <h3>Some <span class="highlight">description</span> for Test Assignment.</h3>

  <p>
    In this test assignment were realized few components: nav-bar and repos-item.
    Their work can be checked right on those pages/app.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at sapien at velit blandit luctus in vitae lacus.
    Curabitur erat urna, laoreet et purus eu, feugiat feugiat enim. Donec vel orci ac lacus scelerisque auctor. Duis
    eget urna ligula. Phasellus volutpat est eget ex maximus, nec suscipit nibh fermentum. Nullam sollicitudin ut mi ac
    egestas. Cras blandit diam ac sem sagittis, in vestibulum mi eleifend.
  </p>
  <p>
    Nunc quis blandit erat, vitae venenatis augue. Maecenas interdum tristique fringilla. Quisque nec interdum lacus, in
    luctus tellus. Sed urna lacus, rutrum sit amet massa sed, ultrices euismod enim. Nullam pulvinar vehicula odio non
    blandit. Vestibulum posuere eu purus a convallis. Sed ac tempor nisi. Etiam ornare vehicula dolor, eget bibendum sem
    finibus sed. Integer ac nisi nisl. Quisque a magna erat. Ut id lorem luctus, viverra magna a, varius elit. Cras
    efficitur luctus erat molestie suscipit. Ut ullamcorper, nunc sed semper consequat, eros odio mollis odio, a
    bibendum orci urna et quam. Proin malesuada consequat hendrerit. Donec accumsan velit vitae maximus facilisis. Cras
    aliquam dui lorem, nec varius nibh aliquet et.
  </p>
  <p>
    Donec dignissim augue id nibh convallis ornare. Proin ligula tortor, ullamcorper eu enim eget, pellentesque
    facilisis mauris. Nunc consectetur in arcu non blandit. Curabitur imperdiet ut lorem non tempus. Suspendisse non
    consectetur nisl, non vulputate arcu. Etiam quis mattis libero. Vivamus sit amet volutpat neque.
  </p>
  <p>
    Ut viverra, leo sit amet tempus gravida, ipsum purus posuere ante, sed suscipit urna ligula ac metus. Praesent sem
    sapien, sagittis nec eleifend et, faucibus ac magna. Fusce non sodales elit. Aenean tempor ut dolor ac imperdiet.
    Vestibulum non ex ac odio cursus blandit vitae mollis felis. Vestibulum ante ipsum primis in faucibus orci luctus et
    ultrices posuere cubilia Curae; In mollis, lectus vel feugiat gravida, odio lorem placerat leo, at commodo metus
    eros ac purus. Donec dapibus neque sed rhoncus molestie. Duis iaculis elit ac eros pulvinar venenatis. Nam ornare
    velit nibh. In eleifend dictum orci, vel eleifend eros pulvinar eget. Duis lacus mauris, dignissim at consectetur
    ac, venenatis in urna. Ut porta, tortor ac facilisis cursus, orci orci convallis libero, non luctus nunc sapien non
    enim. Ut egestas bibendum dolor vitae suscipit. Mauris ultricies neque id odio cursus, sit amet accumsan nisl
    ultrices. Etiam in congue tellus.
  </p>
  <p>
    Sed scelerisque, risus nec scelerisque sagittis, odio odio maximus erat, ac vulputate sapien nisl ut purus. Nam in
    euismod velit, vitae fringilla massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
    turpis egestas. Duis eleifend turpis nisl, sed eleifend arcu elementum id. Pellentesque fermentum rhoncus velit.
    Phasellus tincidunt faucibus pretium. Nunc aliquet urna massa, a laoreet turpis suscipit quis. Vestibulum et mauris
    tincidunt, faucibus elit id, tincidunt nunc. Aliquam magna odio, placerat vitae mauris sed, efficitur tincidunt
    sapien. Nam et diam nibh. Sed malesuada pulvinar enim in tincidunt. Sed semper sed neque ut porttitor. Ut gravida
    quam vitae augue pharetra viverra. Proin in felis egestas, faucibus dui sed, varius quam.
  </p>
</div>